@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
  background-color: #121214;
  @apply text-white
}

body::-webkit-scrollbar {
  width: 8px;             
}

body::-webkit-scrollbar-track {
  background:#121214;        
}

body::-webkit-scrollbar-thumb {
  background-color: #121214;    
  border-radius: 20px;       
  border: 2px solid #8257e5;  
}
